@media (max-width: 1000px ) {
    .gambar-kanan {
        width: 50%;
        text-align: left;
    }

    .pesan {
        padding-top: 150px;
    }

    .col-1-4 {
        width: 50%;
        float: left;
    }

    .col-1-5 {
        width: 50%;
        float: left;
        padding: 10px;
        text-align: center;
    }

    
}